body{
  margin: 0;
  font-family: 'Roboto';
}

.flex-1{
  flex: 1;
}

.w-full{
  width: 100%;
}

.text-info{
  color: lightgray
}

.text-gray{
  color: gray
}

.text-20{
  font-size: 20px;
}

.text-10{
  font-size: 10px;
}

@for $i from 1 through 5{
  .mt-#{$i}{
    margin-top: #{$i}rem;
  }

  .mb-#{$i}{
    margin-bottom: #{$i}rem;
  }

  .ml-#{$i}{
    margin-left: #{$i}rem;
  }

  .mr-#{$i}{
    margin-right: #{$i}rem;
  }
  
}